.center {
/*
    margin: auto;
*/
color: blanchedalmond;
}

.medium_max_height{
    max-height: 120px;
}

.lower_max_height{
    max-height: 50px;
}


.pad {
    display: flex;
    justify-content: space-around;
}

.score {
    font-size: medium;
}

.number {
   height: 5vh;
   width: 8vw; 
}