.text {
     color: blanchedalmond;
     font-size: x-large;
     /*
     padding: 7vh;
     margin-bottom: 5vh;
     */
}

.center {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.score{
    max-height: 50px;
}